/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    /* background-image: url("./assets/background-image.png") ;    */
    background-image: url("./assets/background.svg");
    /* background-color: rgba(202, 202, 202, 0.577); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

.success-snack {
    color: rgb(148, 243, 104) !important;
}

.success-snack .mat-simple-snackbar-action {
    color: rgb(148, 243, 104) !important;
}

.fail-snack {
    color: rgb(247, 105, 100) !important;
}

.fail-snack .mat-simple-snackbar-action {
    color: rgb(247, 105, 100) !important;
}

.redbutton {
    background: rgb(204, 26, 70);
    color: white;
}

@font-face {
    font-family: "Maven_Pro";
    src: local("Maven_Pro"), url(./assets/fonts/Maven_Pro/MavenPro-VariableFont_wght.ttf) format("truetype");
}