/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

    /* background-image: url("./assets/background-image.png") ;    */
    background-image: url("./assets/background.svg") ;

    /* background-color: rgba(202, 202, 202, 0.577); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
         
}

