
<div class="card-wrapper">
    <mat-card class="example-card" *ngIf="!isConfirm">
      <mat-card-header>Welcome to Office Booker!</mat-card-header>
      <p></p>
      <mat-card-subtitle>
        Please enter your details to register for an account
      </mat-card-subtitle>
      <mat-card-content>




        <!-- <div>
          <p>
          <label for="companies" class="form-label">Company:</label>
            <select value="Company" id="company" name="company" > 
              <option value="" disabled selected>Select your company</option>
              <option *ngFor="let comp of companies"> {{comp.name}} </option>
            </select>
          </p>  
        </div> -->

        <mat-form-field>
          <mat-label>Company</mat-label>
          <mat-select [(value)]="selected" id="select" name="company">
            <mat-option value="" disabled selected>Select your company</mat-option>
            <mat-option *ngFor="let comp of companies" [value]="comp.name"> {{comp.name}} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" [(ngModel)]="user.name" class="form-control form-control-sm" placeholder="Email">
      </mat-form-field>

      <mat-form-field>
          <input matInput type="password" placeholder="Password" [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control form-control-sm">
      </mat-form-field>

      </mat-card-content>
         
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="signUp(selected)" class="btn btn-sm btn-success" [disabled]="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
              Register
        </button>
      </mat-card-actions>
      
      <p></p>
      
  </mat-card>
</div>




<!-- Div that appears and asks for verifcation code -->

<div class="card-wrapper" *ngIf="isConfirm">
  <mat-card class="example-card">
    <mat-card-header>Verification code</mat-card-header>
    <mat-card-subtitle>
      Please enter the verifcation code recieved via email
    </mat-card-subtitle>
    
    <mat-card-content>
      <div>
        <p>
          <input placeholder="Verification Code" type="text" id="code" name="code" #code="ngModel" [(ngModel)]="user.code" class="form-control form-control-sm">
       </p>
      </div>
      
      </mat-card-content>
      <mat-card-actions>
            <button mat-raised-button color="primary" (click)="confirmSignUp()" class="btn btn-sm btn-success" [disabled]="loading">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
              Confirm
            </button>
      </mat-card-actions>
    
</mat-card>
</div>