<h1 class="heading">Manage all bookings here</h1>
<p class="text">You can check the bookings of Users and remove them here.</p>
<mat-grid-list cols="5" rowHeight="275px">
    <div class="card-wrapper md-margin" *ngFor="let booking of userBookings">
        <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title> Booking {{booking.id}}</mat-card-title>
            <mat-card-subtitle>
                Seat {{booking.deskId}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>Employee: {{booking.employeeName}}</div>
            <div>This users rating is: {{getRating(booking.employeeId) | number : '1.2-2'}} </div> 
            <br>
            <div>Date: {{booking.startsAt | date: 'd MMMM': 'UTC'+2}} </div>
            <div>{{booking.startsAt | date: 'HH:mm': 'UTC'+2}} - {{booking.endsAt | date: 'HH:mm': 'UTC'+2}} </div>
        </mat-card-content>
        <mat-card-actions>
            <button class="clicker" (click)="deleteADeskBooking(booking.id); openDeleteSnackBar('You have deleted a users booking.')" mat-raised-button color="accent">Cancel Booking</button>
        </mat-card-actions>

        <p></p>
    </mat-card>
</mat-grid-tile>
</div>
</mat-grid-list>