<h1 class="heading">Manage all bookings here</h1>
<p class="text">You can check the bookings of Users and remove them here.</p>

    <div class="card-wrapper md-margin" *ngFor="let booking of userBookings">
      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title> Booking {{booking.id}}</mat-card-title>
            <mat-card-subtitle>
                This user has a booking coming up.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>{{booking.employeeName}}</div>
            <div>This users rating is: {{getRating(booking.employeeId) | number : '1.2-2'}} </div> 
            <div>Seat {{booking.deskId}} </div>
            <div>{{booking.startsAt | date: 'd MMMM': 'UTC'+2}} </div>
            <div>{{booking.startsAt | date: 'HH:mm': 'UTC'+2}} - {{booking.endsAt | date: 'HH:mm': 'UTC'+2}} </div>
        </mat-card-content>
        <mat-card-actions>
            <button class="clicker" (click)="deleteADeskBooking(booking.id) " mat-raised-button color="accent">Cancel Booking</button>
        </mat-card-actions>

        <p></p>
    </mat-card>

</div>