mat-card{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1.5rem;
    background-color: rgba(172, 172, 172, 0.664);
}

.clicker{
    background : rgb(204, 26, 70);
}

.heading{
    padding-left: 1rem;
    
}

.text{
    padding-left: 1rem;
}

.mat-card-header{
    color: rgb(1, 24, 67);
    text-align: left;
    display: inline-block;
}

.mat-card-subtitle{
    color: rgb(1, 24, 67);
    text-align: left;
}