
.mat-card{
  /* width: 240px; */
  /* height: 275px; */
  
  width: stretch;
  height: stretch;

  margin: 0.5rem;
  /* margin-left: 2rem; */
  
  background-color: rgba(255, 255, 255, 1);
  text-align: center;

  border: rgba(140, 140, 140, 0.314) 2.5px solid;
  border-radius: 6px;

  display: inline-block;
  color:rgb(0, 0, 0);

  
}
  
  * {
    box-sizing: border-box;
  }
  
  body{
    overflow: hidden;
  }
  
  .mat-card-header{
    color: rgb(0, 0, 0);
    /* text-align: center; */
    display: inline-block;
  }
  
  .mat-card-subtitle{
    color: rgb(0, 0, 0);
    /* text-align: center; */
  }
  
  .clicker{
    background : rgb(204, 26, 70);
  }
  
  .heading{
  padding-left: 2rem;
  }
  
  .text{
    padding-left: 2rem;
  }
  
  