* {
    font-family: 'Maven_Pro';
}

.mat-card {
    width: 300px;
    margin: 1rem;
    margin-left: 2rem;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    border: rgba(140, 140, 140, 0.314) 2.5px solid;
    border-radius: 6px;
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    padding-top: 1rem;
}

* {
    box-sizing: border-box;
}

.numbers {
    padding: 0.5rem;
}

body {
    overflow: hidden;
}

.mat-slider-horizontal {
    width: 200px;
}

.mat-card-header {
    color: rgb(0, 0, 0);
    /* text-align: center; */
    display: inline-block;
}

.mat-card-subtitle {
    color: rgb(0, 0, 0);
    /* text-align: center; */
}

.clicker {
    /* background : rgb(204, 26, 70); */
}

.heading {
    text-align: center;
}

.text {
    text-align: center;
}