<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav>
    <ul id="menu">
        <li>
            <a href="#" routerLink="/login" routerLinkActive="active" *ngIf="!isAuthenticated()"><i
                    class="fa fa-sign-in"></i> Login</a>
        </li>
        <li>
            <a href="#" routerLink="/bookings" *ngIf="isAuthenticated()"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
            <a href="#" routerLink="/bookings" routerLinkActive="active" *ngIf="isAuthenticated()"><i
                    class="fa fa-calendar-plus-o"></i> Create Bookings</a>
        </li>
        <li>
            <a href="#" routerLink="/personal-bookings" routerLinkActive="active" *ngIf="isAuthenticated()"><i
                    class="fa fa-list-alt"></i> Manage Bookings</a>
        </li>
        <li>
            <a href="#" routerLink="/voting-bookings" routerLinkActive="active" *ngIf="isAuthenticated()"><i class="fa fa-check-circle-o" ></i>Rate other Users</a>
        </li>
        <li>
            <a href="#" routerLink="/admin-bookings" routerLinkActive="active" *ngIf="isAdmin()" ><i class="fa fa-bars" ></i> Admin Page</a>
        </li>
        <li>
            <a href="#" routerLink="/invite-guest" routerLinkActive="active" *ngIf="isNotGuest()"><i
                    class='fa fa-envelope'></i> Invite Someone</a>
        </li>
        <li>
            <li>
                <a href="#"><i class='fa fa-phone'></i> Contact Us</a>
            </li>
            <li>

                <li style="float: right">
                    <a href="#" routerLink="/sign-out" routerLinkActive="active" *ngIf="isAuthenticated()"><i
                    class='fa fa-sign-out' ng-click="signOut()"></i> Logout</a>
                </li>

                <li style="float: right">
                    <a href="#" routerLink="/account" routerLinkActive="active" *ngIf="isEmailAddress()"><i
                    class='fa fa-address-card'></i> {{email}}</a>
            </li>
    </ul>
</nav>