<h1 mat-dialog-title>Invite someone to your booking!</h1>
<div mat-dialog-content>
  <p>Please enter a email address to invite someone.</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.inviteEmail" placeholder="Email" required>
  </mat-form-field>

  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Invited</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let invite of invites">
        {{invite.invitedEmployee.email}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="..."
             [matChipInputFor]="chipList"
             >
    </mat-chip-list>
  </mat-form-field>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.inviteEmail" cdkFocusInitial>Invite</button>
</div>
