<div class="card-wrapper">
    <mat-card class="example-card">
      <mat-card-header>Login to Office Booker!</mat-card-header>
      <mat-card-subtitle>
        Please enter your details
      </mat-card-subtitle>
      <mat-card-content>
        <div>
          <p>
          <input placeholder="Email" type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control form-control-sm">
         </p>
        </div>

        <div>
          <p>
              <input placeholder="Password" [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control form-control-sm">
                
              <button type="button" class="btn btn-outline-secondary" (click)="user.showPassword = !user.showPassword">
                <i class="bi" [ngClass]="{'bi-eye-fill': !user.showPassword, 'bi-eye-slash-fill': user.showPassword}"></i>
              </button>
              
          </p>
        </div>
        
        </mat-card-content>
         
        <mat-card-actions>
              <button mat-raised-button color="accent" (click)="signIn()" class="btn btn-sm btn-success" [disabled]="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                Sign in
              </button>
        </mat-card-actions>
      
  </mat-card>
</div>

  <mat-card class="example-card">
    <mat-card-subtitle>
      Need to register an account?
    </mat-card-subtitle>

    <button mat-raised-button color="accent" [routerLink]="'/registration'"  class="btn-block">Register</button>
  </mat-card>