<div class="card-wrapper">
    <mat-card class="example-card">
        <mat-card-header>Welcome to Office Booker!</mat-card-header>
        <p></p>

        <mat-card-subtitle>
            Please enter your details to login
        </mat-card-subtitle>

        <mat-card-content>

            
            <mat-form-field>
                <input matInput type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control form-control-sm" placeholder="Email">
            </mat-form-field>

            <mat-form-field>
                <input matInput [type]="showPassword ? 'text' : 'password'" type="password" placeholder="Password" [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control form-control-sm">
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword?'visibility_off':'visibility'}}
                </mat-icon>
            </mat-form-field>

            <!-- <button type="button" class="btn btn-outline-secondary" (click)="user.showPassword = !user.showPassword">
            <i class="checkbox" [ngClass]="{'fa fa-eye': !user.showPassword, 'fa fa-eye-slash': user.showPassword}"></i>
            </button> -->

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="signIn()" class="btn btn-sm btn-success" [disabled]="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
              Login
          </button>

            <!-- <button mat-raised-button color="primary" (click)="forgotPassword()" class="btn btn-sm btn-success" [disabled]="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
              Forgot password?
            </button> -->
            <br>
            <br>
            <u class="forgot" (click)="forgotPassword()">
                  Forgot password?
            </u>
        </mat-card-actions>

        <p></p>

    </mat-card>
</div>

<div class="card-wrapper">
    <mat-card class="example-card">
        <mat-card-subtitle>
            Need to register an account?
        </mat-card-subtitle>

        <button mat-raised-button color="primary" [routerLink]="'/registration'" class="btn-block">Register</button>
    </mat-card>
</div>

<div class="card-wrapper">
    <mat-card class="example-card">
        <mat-card-subtitle>
            Have an invitation?
        </mat-card-subtitle>

        <button mat-raised-button color="primary" [routerLink]="'/guest-registration'" class="btn-block">Register as Guest</button>
    </mat-card>
</div>

