.items-container {
    width: 40%;
    float: right;
    margin: 2rem;
    border: black solid 1px;
}

.svg-container {
    border: 3px dashed #000;
    background-color: #CCC;
    width: 800px;
    height: 800px;
}

.floor-selection-container {
    padding-right: 2rem;
    padding-left: 2rem;
    display: inline-block;
}

.creation-container {  
    display: inline-block;
}

.createObject{
    margin: 1rem;
    border:rgb(255, 0, 0) solid 3px;
}

.button-container {
    justify-content: center;
    width:30%;
    display: inline-block;
    align-items: center;
}

.svg-create-container {
    display: inline-block;
}

.selected {
    border: 3px solid rgb(255, 0, 0);
}

.options-bar{
    float: right;
    width: 500px;
    margin: 1.5rem;
    /* background-color: rgba(255, 255, 255, 1); */
    text-align: center;
    /* border: rgba(0, 0, 0, 0.314) 2.5px solid; */
    /* border-radius: 40px; */

    border: 5px solid rgb(172, 21, 21);
    border-radius: 4px;

    
}

.mat-raised-button{
    margin: 0.5rem;
}

.svg-container{
    margin: 2rem;
}