.items-container {
    width: 100%;
}

.svg-container {
    border: 3px dashed #000;
    background-color: #CCC;
    width: 800px;
    height: 800px;
}

.floor-selection-container {
    padding-right: 2rem;
    padding-left: 2rem;
    display: inline-block;
}

.creation-container {  
    display: inline-block;
}

.button-container {
    justify-content: center;
    width:30%;
    display: inline-block;
    align-items: center;
}

.svg-create-container {
    display: inline-block;
}

.selectedItem {
    border: 3px solid rgb(255, 0, 0);
}