<div class="items-container">
    <div appDraggable>
        <svg height="100" width="100">
            <circle id="circle-red" cx="50" cy="50" r="40" stroke="black" fill="red" />
        </svg>
    </div>
    <div appDraggable>
        <svg height="100" width="100">
            <circle id="circle-blue" cx="50" cy="50" r="40" stroke="black" fill="blue" />
        </svg>
    </div>
    <div appDraggable>
        <svg height="100" width="100">
            <circle id="circle-green" cx="50" cy="50" r="40" stroke="black" fill="green" />
        </svg>
    </div>
</div>
<div class="svg-container" appDroppable>
    <svg id="dropzone" height="100%" width="100%">
    </svg>
</div>