.mat-card{
    width: fill;
    margin: 0.2rem;
    border: rgba(140, 140, 140, 0.314) 2.5px solid;
    border-radius: 6px;

    text-align: center;
    position: relative;
    
}

.dialog-message{
    position: center;
    text-align: center;
}