.mat-card{
    width: 200px;
    margin: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;

    border: rgb(39, 39, 39) 0.5px solid;
    /* border-radius: 1px; */
    
}

.dialog-message{
    position: center;
}