.mat-card{
    width: 400px;
    margin: 0.5rem;
    border: rgba(140, 140, 140, 0.314) 2.5px solid;
    border-radius: 6px;

    text-align: center;
    /* border-radius: 1px; */
    
}

.dialog-message{
    position: center;
}