<div class="header">
    <h1 mat-dialog-title>Bookings for {{this.data.selectedItemType | titlecase}} {{this.data.selectedItemId}}</h1>
  </div>
  
  
  <div mat-dialog-content>
    <p class="dialog-message"></p>  
    <mat-card>
      <mat-card-content>
        
        <div class="card-wrapper">
          <mat-card class="hover-info-card" id="info-card">
              <mat-card-header>{{this.data.hoveredItemName}}</mat-card-header>
              <mat-card-content>
                <i class="fa fa-plug" aria-hidden="true"></i>
                {{this.data.numPlugs}}<br>
                <i class="fa fa-desktop" aria-hidden="true"></i>
                {{this.data.numMonitors}}<br>
                <i class="fa fa-plug" aria-hidden="true"></i>
                {{this.data.numProjectors}}<br>
                  
              </mat-card-content>

              <mat-card-actions>
                  <span></span>


              </mat-card-actions>
          </mat-card>
      </div>


        <hr>
        <div class="scrollable-section">
            <mat-card class="booking-container" *ngFor="let booking of this.data.selectedItemBookings">
                <mat-card-content>
                    <div>Date: {{booking.startsAt | date: 'd MMMM': 'UTC'}} </div>
                    <div>Time: {{booking.startsAt | date: 'HH:mm': 'UTC'}} - {{booking.endsAt | date: 'HH:mm': 'UTC'}}
                    </div>
                    <mat-card-actions>
                        <!-- <button (click)="this.data.deleteBooking(booking.id)" mat-raised-button color="warn" *ngIf="this.data.currentUser.id === booking.employeeId">Cancel Booking</button> -->
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
        <br>
    </mat-card-content>
    </mat-card>
  </div>

  
  
  
  
  <div mat-dialog-actions>
    <!-- <button mat-button [mat-dialog-close]="data.inviteEmail" cdkFocusInitial>Invite</button> -->
    <button mat-button >Close</button>
    <button mat-button mat-raised-button color="primary" [mat-dialog-close]="data.selectedItemId" cdkFocusInitial>Book {{this.data.deskId}}</button>
  </div>
  
  