<h1 class="heading">Manage your account here</h1>
<p class="text" >You have a current rating of {{rating | number : '1.2-2'}}</p>
           
<div class="card-wrapper">
  <mat-card class="example-card">
    <mat-card-header>What would you like to change?</mat-card-header>
      <p></p>
      
      <mat-card-subtitle>
      </mat-card-subtitle>

      <mat-card-content>

               
      </mat-card-content>
         
        <mat-card-actions>
           
          <button mat-raised-button color="primary" (click)="setNgIf('changeName')" [disabled]="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Name
          </button>

          <button mat-raised-button color="primary" (click)="setNgIf('changePassword')" [disabled]="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Password
          </button>
          
        </mat-card-actions>

        <p></p>
  
  </mat-card>
</div>


<div class="card-wrapper" *ngIf="changePassword">
    <mat-card class="example-card">
      <mat-card-header>Change your password</mat-card-header>
        <p></p>
        
        <mat-card-subtitle>
          Please enter your email and a new password. A verification code will be sent to you.
        </mat-card-subtitle>
  
        <mat-card-content>
           
          <mat-form-field>
            <input matInput type="email" id="email" name="email" #email ="ngModel" [(ngModel)]="user.email" 
              class="form-control form-control-sm" placeholder="Email">
          </mat-form-field> 

          <mat-form-field>
            <input matInput type="password" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" 
              class="form-control form-control-sm"  placeholder="New Password">
          </mat-form-field>
                 
        </mat-card-content>
           
          <mat-card-actions>
             
            <button mat-raised-button color="primary" (click)="forgotPassword()" [disabled]="loading">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Submit
            </button>
          </mat-card-actions>
  
          <p></p>
    
    </mat-card>
  </div>

  <div class="card-wrapper" *ngIf="changeName">
    <mat-card class="example-card">
      <mat-card-header>Change your name</mat-card-header>
        <p></p>
        
        <mat-card-subtitle>
          Please enter updated name below.
        </mat-card-subtitle>
  
        <mat-card-content>
           
          <mat-form-field>
            <input matInput type="name" id="name" name="name" #name ="ngModel" [(ngModel)]="user.name" 
              class="form-control form-control-sm" placeholder="Name">
          </mat-form-field> 
                 
        </mat-card-content>
           
          <mat-card-actions>
             
            <button mat-raised-button color="primary" (click)="editName()" [disabled]="loading">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Submit
            </button>
          </mat-card-actions>
  
          <p></p>
    
    </mat-card>
  </div>

  <!-- Div that appears and asks for verifcation code -->

<div class="card-wrapper" *ngIf="isConfirm">
  <mat-card class="example-card">
    <mat-card-header>Verification code</mat-card-header>
    <p></p>
    <mat-card-subtitle>
      Please enter the verifcation code recieved via email.
    </mat-card-subtitle>
    
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" id="code" name="code" #code="ngModel" [(ngModel)]="user.code" 
          class="form-control form-control-sm"  placeholder="Verification Code">
        </mat-form-field>
        
      
      
      </mat-card-content>
      <mat-card-actions>
            <button mat-raised-button color="primary" (click)="submitPasswordReset()" [disabled]="loading">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
              Confirm
            </button>
      </mat-card-actions>

      <p></p>
    
  </mat-card>
</div>
  
  