.card-wrapper {
    margin: 0 auto;
    width: 550px;
    padding-top: 2rem;
    top: 4rem;
    left: 50%;
    font-weight: bold;
    text-align: center;
}

.mat-card {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: rgba(140, 140, 140, 0.314) 2.5px solid;
    border-radius: 6px;
}

.mat-card-header {
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
}

.mat-card-subtitle {
    color: rgb(0, 0, 0);
    text-align: center;
}

.input {
    position: center;
}

.btn.btn-outline-secondary {
    position: absolute;
}

.card-wrapper2 {
    margin: 0 auto;
    width: 500px;
    padding-top: 25px;
    top: 2rem;
    left: 50%;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.btn.btn-sm.btn-success {
    background: rgb(204, 26, 70);
}

.btn-block {
    margin-top: 0px;
    background: rgb(204, 26, 70);
}

body {
    overflow: hidden;
}

.mat-form-field {
    width: 75%;
}

.clicker {
    background: rgb(204, 26, 70);
}

.heading {
    text-align: center;
}

.text {
    text-align: center;
}