<h1 class="heading">Manage your bookings here</h1>
<p class="text">You can check the bookings you have made as well as remove them.</p>

<!-- <ng-template *ngFor="let booking of userBookings">
      <office-booker-booking-card>
        
      </office-booker-booking-card> -->
<!-- </ng-template> -->

<!-- <p class="text">You have no bookings</p> -->

<div class="card-wrapper" *ngFor="let booking of userBookings">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title> Booking {{booking.id}}</mat-card-title>
            <mat-card-subtitle>
                You have a booking coming up.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>{{currentUser.name}}</div>
            <div>Seat {{booking.deskId}} </div>
            <div>{{booking.startsAt | date: 'd MMMM': 'UTC'}} </div>
            <div>{{booking.startsAt | date: 'HH:mm': 'UTC'}} - {{booking.endsAt | date: 'HH:mm': 'UTC'}} </div>
            <!-- <div>Time: {{booking.startsAt | date: 'dd MMM HH:MM': 'UTC'+2}} - {{booking.endsAt | date: 'dd MMM HH:MM': 'UTC'+2}} </div>   -->
            <!-- <div>End Date: {{booking.endsAt | date: 'dd MMM hh:mm a': 'UTC'+2}} </div>   -->
        </mat-card-content>
        <mat-card-actions>
            <button class="clicker2" (click)="openDialog(2) " mat-raised-button color="primary">Invite Others</button>
            <p></p>
            <button class="clicker" (click)="deleteADeskBooking(booking.id) " mat-raised-button color="accent">Cancel Booking</button>
        </mat-card-actions>

        <p></p>

    </mat-card>

</div>