.mat-card{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;

  display: inline-block;
  
  
  
  /* margin:0 auto; */
  width: 300px;
  /* padding-top: 2rem; */
  /* top: 4rem; */
  /* left: 20%; */

  /* padding: 1.5rem; */
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  /* margin: 1rem; */
  /* text-align: left; */
}

.mat-card{
  width: 300px;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;

  border: black 2px solid;
  border-radius: 25px;
  
}

* {
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

.mat-card-header{
  color: rgb(0, 0, 0);
  /* text-align: left; */
  display: inline-block;
}

.mat-card-subtitle{
  color: rgb(0, 0, 0);
  /* text-align: left; */
}

.clicker{
  background : rgb(204, 26, 70);
}

.heading{
padding-left: 1rem;
}

.text{
  padding-left: 1rem;
}

