<h2>{{ roomName }}</h2>
<div class="grid-container">
  <ng-template ngFor let-item [ngForOf]="deskGrid" let-i="index">
    <mat-grid-list cols="12" rowHeight="1:1">
      <ng-template ngFor let-item [ngForOf]="deskGrid[i]" let-j="index">
        <ng-container *ngIf="deskGrid[i][j]; else elseBlock">
          <ng-container *ngIf="bookedGrid[i][j]; else elseBlock2">
            <mat-grid-tile
            class="booked"
            id="{{ getDeskIdAtLocation(i, j) }}"
            (click)="openDialog($event)"
          ></mat-grid-tile>
          </ng-container>
          <ng-template #elseBlock2>
              <mat-grid-tile
                class="exists"
                id="{{ getDeskIdAtLocation(i, j) }}"
                (click)="openDialog($event)"
              ></mat-grid-tile>
          </ng-template>
        </ng-container>
        <ng-template #elseBlock>
          <mat-grid-tile class="notexists"></mat-grid-tile>
        </ng-template>
      </ng-template>
    </mat-grid-list>
  </ng-template>
</div>
