.grid-container {
    width: 50rem;
    height: auto;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

mat-grid-tile {
    border: 1px dotted rgba(109, 109, 109, 0.233);
}

.row1 .col2 {
    background-color: rgb(189, 189, 189);
    border-radius: 15%;
}