
<div class="grid-container">
    <mat-grid-list cols="12" rowHeight="1:1" class="row1">
        <mat-grid-tile class="col1"></mat-grid-tile>
        <mat-grid-tile class="col2" id="152" (click)="openDialog($event)"></mat-grid-tile>
        <mat-grid-tile class="col3"></mat-grid-tile>
        <mat-grid-tile class="col4"></mat-grid-tile>
        <mat-grid-tile class="col5"></mat-grid-tile>
        <mat-grid-tile class="col6"></mat-grid-tile>
        <mat-grid-tile class="col7"></mat-grid-tile>
        <mat-grid-tile class="col8"></mat-grid-tile>
        <mat-grid-tile class="col9"></mat-grid-tile>
        <mat-grid-tile class="col10"></mat-grid-tile>
        <mat-grid-tile class="col11"></mat-grid-tile>
        <mat-grid-tile class="col12"></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="12" rowHeight="1:1" class="row2">
        <mat-grid-tile class="col1"></mat-grid-tile>
        <mat-grid-tile class="col2"></mat-grid-tile>
        <mat-grid-tile class="col3"></mat-grid-tile>
        <mat-grid-tile class="col4"></mat-grid-tile>
        <mat-grid-tile class="col5"></mat-grid-tile>
        <mat-grid-tile class="col6"></mat-grid-tile>
        <mat-grid-tile class="col7"></mat-grid-tile>
        <mat-grid-tile class="col8"></mat-grid-tile>
        <mat-grid-tile class="col9"></mat-grid-tile>
        <mat-grid-tile class="col10"></mat-grid-tile>
        <mat-grid-tile class="col11"></mat-grid-tile>
        <mat-grid-tile class="col12"></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="12" rowHeight="1:1" class="row3">
        <mat-grid-tile class="col1"></mat-grid-tile>
        <mat-grid-tile class="col2"></mat-grid-tile>
        <mat-grid-tile class="col3"></mat-grid-tile>
        <mat-grid-tile class="col4"></mat-grid-tile>
        <mat-grid-tile class="col5"></mat-grid-tile>
        <mat-grid-tile class="col6"></mat-grid-tile>
        <mat-grid-tile class="col7"></mat-grid-tile>
        <mat-grid-tile class="col8"></mat-grid-tile>
        <mat-grid-tile class="col9"></mat-grid-tile>
        <mat-grid-tile class="col10"></mat-grid-tile>
        <mat-grid-tile class="col11"></mat-grid-tile>
        <mat-grid-tile class="col12"></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="12" rowHeight="1:1" class="row4">
        <mat-grid-tile class="col1"></mat-grid-tile>
        <mat-grid-tile class="col2"></mat-grid-tile>
        <mat-grid-tile class="col3"></mat-grid-tile>
        <mat-grid-tile class="col4"></mat-grid-tile>
        <mat-grid-tile class="col5"></mat-grid-tile>
        <mat-grid-tile class="col6"></mat-grid-tile>
        <mat-grid-tile class="col7"></mat-grid-tile>
        <mat-grid-tile class="col8"></mat-grid-tile>
        <mat-grid-tile class="col9"></mat-grid-tile>
        <mat-grid-tile class="col10"></mat-grid-tile>
        <mat-grid-tile class="col11"></mat-grid-tile>
        <mat-grid-tile class="col12"></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="12" rowHeight="1:1" class="row5">
        <mat-grid-tile class="col1"></mat-grid-tile>
        <mat-grid-tile class="col2"></mat-grid-tile>
        <mat-grid-tile class="col3"></mat-grid-tile>
        <mat-grid-tile class="col4"></mat-grid-tile>
        <mat-grid-tile class="col5"></mat-grid-tile>
        <mat-grid-tile class="col6"></mat-grid-tile>
        <mat-grid-tile class="col7"></mat-grid-tile>
        <mat-grid-tile class="col8"></mat-grid-tile>
        <mat-grid-tile class="col9"></mat-grid-tile>
        <mat-grid-tile class="col10"></mat-grid-tile>
        <mat-grid-tile class="col11"></mat-grid-tile>
        <mat-grid-tile class="col12"></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="12" rowHeight="1:1" class="row6">
        <mat-grid-tile class="col1"></mat-grid-tile>
        <mat-grid-tile class="col2"></mat-grid-tile>
        <mat-grid-tile class="col3"></mat-grid-tile>
        <mat-grid-tile class="col4"></mat-grid-tile>
        <mat-grid-tile class="col5"></mat-grid-tile>
        <mat-grid-tile class="col6"></mat-grid-tile>
        <mat-grid-tile class="col7"></mat-grid-tile>
        <mat-grid-tile class="col8"></mat-grid-tile>
        <mat-grid-tile class="col9"></mat-grid-tile>
        <mat-grid-tile class="col10"></mat-grid-tile>
        <mat-grid-tile class="col11"></mat-grid-tile>
        <mat-grid-tile class="col12"></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="12" rowHeight="1:1" class="row7">
        <mat-grid-tile class="col1"></mat-grid-tile>
        <mat-grid-tile class="col2"></mat-grid-tile>
        <mat-grid-tile class="col3"></mat-grid-tile>
        <mat-grid-tile class="col4"></mat-grid-tile>
        <mat-grid-tile class="col5"></mat-grid-tile>
        <mat-grid-tile class="col6"></mat-grid-tile>
        <mat-grid-tile class="col7"></mat-grid-tile>
        <mat-grid-tile class="col8"></mat-grid-tile>
        <mat-grid-tile class="col9"></mat-grid-tile>
        <mat-grid-tile class="col10"></mat-grid-tile>
        <mat-grid-tile class="col11"></mat-grid-tile>
        <mat-grid-tile class="col12"></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="12" rowHeight="1:1" class="row8">
        <mat-grid-tile class="col1"></mat-grid-tile>
        <mat-grid-tile class="col2"></mat-grid-tile>
        <mat-grid-tile class="col3"></mat-grid-tile>
        <mat-grid-tile class="col4"></mat-grid-tile>
        <mat-grid-tile class="col5"></mat-grid-tile>
        <mat-grid-tile class="col6"></mat-grid-tile>
        <mat-grid-tile class="col7"></mat-grid-tile>
        <mat-grid-tile class="col8"></mat-grid-tile>
        <mat-grid-tile class="col9"></mat-grid-tile>
        <mat-grid-tile class="col10"></mat-grid-tile>
        <mat-grid-tile class="col11"></mat-grid-tile>
        <mat-grid-tile class="col12"></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="12" rowHeight="1:1" class="row9">
        <mat-grid-tile class="col1"></mat-grid-tile>
        <mat-grid-tile class="col2"></mat-grid-tile>
        <mat-grid-tile class="col3"></mat-grid-tile>
        <mat-grid-tile class="col4"></mat-grid-tile>
        <mat-grid-tile class="col5"></mat-grid-tile>
        <mat-grid-tile class="col6"></mat-grid-tile>
        <mat-grid-tile class="col7"></mat-grid-tile>
        <mat-grid-tile class="col8"></mat-grid-tile>
        <mat-grid-tile class="col9"></mat-grid-tile>
        <mat-grid-tile class="col10"></mat-grid-tile>
        <mat-grid-tile class="col11"></mat-grid-tile>
        <mat-grid-tile class="col12"></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="12" rowHeight="1:1" class="row10">
        <mat-grid-tile class="col1"></mat-grid-tile>
        <mat-grid-tile class="col2"></mat-grid-tile>
        <mat-grid-tile class="col3"></mat-grid-tile>
        <mat-grid-tile class="col4"></mat-grid-tile>
        <mat-grid-tile class="col5"></mat-grid-tile>
        <mat-grid-tile class="col6"></mat-grid-tile>
        <mat-grid-tile class="col7"></mat-grid-tile>
        <mat-grid-tile class="col8"></mat-grid-tile>
        <mat-grid-tile class="col9"></mat-grid-tile>
        <mat-grid-tile class="col10"></mat-grid-tile>
        <mat-grid-tile class="col11"></mat-grid-tile>
        <mat-grid-tile class="col12"></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="12" rowHeight="1:1" class="row11">
        <mat-grid-tile class="col1"></mat-grid-tile>
        <mat-grid-tile class="col2"></mat-grid-tile>
        <mat-grid-tile class="col3"></mat-grid-tile>
        <mat-grid-tile class="col4"></mat-grid-tile>
        <mat-grid-tile class="col5"></mat-grid-tile>
        <mat-grid-tile class="col6"></mat-grid-tile>
        <mat-grid-tile class="col7"></mat-grid-tile>
        <mat-grid-tile class="col8"></mat-grid-tile>
        <mat-grid-tile class="col9"></mat-grid-tile>
        <mat-grid-tile class="col10"></mat-grid-tile>
        <mat-grid-tile class="col11"></mat-grid-tile>
        <mat-grid-tile class="col12"></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="12" rowHeight="1:1" class="row12">
        <mat-grid-tile class="col1"></mat-grid-tile>
        <mat-grid-tile class="col2"></mat-grid-tile>
        <mat-grid-tile class="col3"></mat-grid-tile>
        <mat-grid-tile class="col4"></mat-grid-tile>
        <mat-grid-tile class="col5"></mat-grid-tile>
        <mat-grid-tile class="col6"></mat-grid-tile>
        <mat-grid-tile class="col7"></mat-grid-tile>
        <mat-grid-tile class="col8"></mat-grid-tile>
        <mat-grid-tile class="col9"></mat-grid-tile>
        <mat-grid-tile class="col10"></mat-grid-tile>
        <mat-grid-tile class="col11"></mat-grid-tile>
        <mat-grid-tile class="col12"></mat-grid-tile>
    </mat-grid-list>
</div>
