.map-container {
    width: 1600px;
    height: 800px;
    margin: 1rem;
}

.side-container {
    width: 50rem;
    /* margin: 0 auto; */
    /* left: -10%; */
    /* right: 10%; */
    /* display: flex; */
    /* overflow: hidden; */
    width: auto;
    /* height: auto; */
    float: right;
    font-weight: bold;
    /* margin-top: 0.5rem; */
    margin-right: 20px;
    /* margin-left: 25px; */
    justify-content: space-between;
    position: relative;
}

.comparison-container {
    width: 40%;
    height: top;
    margin: 2rem;
    float: right;
    display: inline-block;
}

.comparison-card {
    max-width: 20%;
}

.card-content {
    padding: 2rem;
    border-bottom: rgba(140, 140, 140, 0.314) 2.5px solid;
}

.booking-container {
    padding: 1.5rem;
    width: 200px !important;
    /* margin: 2rem; */
    background-color: rgba(207, 205, 205, 0.461) !important;
}

.date-time-container {
    width: auto;
    float: right;
    font-weight: bold;
    margin-top: 1rem;
    justify-content: space-between;
}

.scrollable-section {
    height: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.info-to-display-container {
    overflow-y: scroll;
    margin: 0.5rem;
    border: black 2px solid;
    border-radius: 50px;
    width: 40px;
    /* justify-content: center;  */
    /* display: inline-block; */
}

.scrollable-section::-webkit-scrollbar {
    height: 2px;
    /*need something to be edited otherwise wont hide scroll bar*/
    width: 0 !important
}

.desk {
    fill: rgb(106, 148, 233);
    transition: all 0.1s;
    transform-origin: 5% 5%;
}

.desk:hover {
    fill: rgb(33, 103, 245);
    cursor: pointer;
    transform: scale(1);
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}

.meetingRoom {
    fill: rgb(126, 126, 126);
    transition: all 0.1s;
    transform-origin: 5% 5%;
}

.meetingRoom:hover {
    fill: rgb(59, 59, 59);
    cursor: pointer;
    transform: scale(1);
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}

.circle {
    fill: rgb(148, 248, 134);
}

.dotBooked {
    fill: rgb(88, 88, 88);
    background-color: rgb(189, 189, 189);
    border-radius: 15%;
}

.deskBooked {
    fill: rgb(192, 207, 238);
    background-color: rgb(189, 189, 189);
    border-radius: 15%;
}

.ownedBooking {
    fill: rgb(173, 238, 147);
    background-color: rgb(189, 189, 189);
    border-radius: 15%;
}

.mat-card {
    width: 300px;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    border: rgba(140, 140, 140, 0.314) 2.5px solid;
    border-radius: 6px;
}

.close-button {
    width: 30px;
    margin-top: 2px;
    display: flex;
    float: right;
}

.example-list {
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.example-list>li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
}

.example-list>li:last-child {
    border-bottom: none;
}

.card-wrapper {
    margin: 0 auto;
    width: 500px;
    padding-top: 2rem;
    top: 4rem;
    left: 50%;
    font-weight: bold;
    text-align: center;
    /* border: 3px solid #f1f1f1; */
    /* position: absolute; */
    /* top: 40%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* z-index: 2; */
    /* padding: 20px; */
}

.mat-card-header {
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
}

.mat-card-subtitle {
    color: rgb(0, 0, 0);
    text-align: center;
}

.options-bar {
    float: left;
    width: 1600px;
    margin: 1rem;
    /* background-color: rgba(255, 255, 255, 1); */
    text-align: center;
    /* border-radius: 40px; */
    /* display: inline; */
    border: 1px solid rgb(241, 241, 241);
    border-radius: 4px;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    background: rgba(255, 255, 255, 0);
}

.time {
    margin: 0.5rem;
    border: 1.5px solid black;
}

.filter {
    margin: 0.5rem;
}

.mat-form-field {
    margin-right: 0.5rem;
}

.selected {
    /* border: 3px solid rgb(0, 255, 0); */
    background: rgba(67, 80, 175, 0.665);
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    cursor: pointer;
}

.selected:hover {
    background: rgba(67, 80, 175, 0.665);
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    cursor: pointer;
}

.nav-buttons {
    margin: 0.25rem;
}