.map-container {
    width: auto;
    height: auto;
    margin: 1rem;
    float: left;

}

.side-container {
    width: 50rem;
    /* margin: 0 auto; */
    /* left: -10%; */
    /* right: 10%; */
    /* display: flex; */
    /* overflow: hidden; */
    width: auto;
    /* height: auto; */
    float: right;
    font-weight: bold;
    /* margin-top: 0.5rem; */
    margin-right: 20px;
    /* margin-left: 25px; */
    justify-content: space-between;
    position: relative;
}



.comparison-container {
    width: 50%;
    height: auto;
    margin: 2rem;
    float: left;
    display: flex;
}

.comparison-card {
    max-width: 20%;
}

.card-content {
    padding: 2rem;
    border-bottom: rgba(140, 140, 140, 0.314) 2.5px solid;
}

.booking-container {
    padding: 1.5rem;
    width: 200px !important;
    /* margin: 2rem; */
    background-color: rgba(207, 205, 205, 0.461) !important;
}

.date-time-container {
    /* margin:1rem; */
    /* padding-top:1rem; */
    /* padding-bottom:1rem; */
    /* padding-left:20rem;
    padding-right:20rem; */
    /* width: 40px; */
    /* background-color: rgba(172, 172, 172, 0.664); */
    /* text-align: center; */
    /* justify-content: center;  */
    /* right: 25%; */
    width: auto;
    float: right;
    font-weight: bold;
    margin-top: 1rem;
    /* margin-right: 40px; */
    justify-content: space-between;
    /* position: relative; */
    /* width: auto; */
    /* height: auto; */
    /* float: right; */
    /* margin-top: 1rem; */
    /* margin-right:1rem; */
    /* position: relative; */
}

.scrollable-section {
    height: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.info-to-display-container {
    overflow-y: scroll;
    margin: 0.5rem;
    /* overflow: hidden; */
    /* margin:1rem; */
    /*-ms-overflow-style: none;  IE and Edge
    /* scrollbar-width: none;  Firefox */
    border: black 2px solid;
    border-radius: 50px;
    /* border-bottom:black 2px solid; */
    /* padding-top:2rem; */
    /* padding-bottom:2rem; */
    /* padding-left:20rem;
    padding-right:20rem; */
    /* height: 410px; */
    width: 40px;
    /* justify-content: center;  */
    /* display: inline-block; */
}

.scrollable-section::-webkit-scrollbar {
    height: 2px;
    /*need something to be edited otherwise wont hide scroll bar*/
    width: 0 !important
}

.booking-item-info-container {}

.desk {
    fill: rgb(106, 148, 233);
    transition: all 0.1s;
    transform-origin: 5% 5%;
}

.desk:hover {
    fill: rgb(33, 103, 245);
    cursor: pointer;
    transform: scale(1);
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}

.meetingRoom {
    fill: rgb(126, 126, 126);
    transition: all 0.1s;
    transform-origin: 5% 5%;
}

.meetingRoom:hover {
    fill: rgb(59, 59, 59);
    cursor: pointer;
    transform: scale(1);
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}

.circle {
    fill: rgb(148, 248, 134);
}

.dotBooked {
    fill: rgb(88, 88, 88);
    background-color: rgb(189, 189, 189);
    border-radius: 15%;
}

.deskBooked {
    fill: rgb(192, 207, 238);
    background-color: rgb(189, 189, 189);
    border-radius: 15%;
}

.ownedBooking {
    fill: rgb(173, 238, 147);
    background-color: rgb(189, 189, 189);
    border-radius: 15%;
}

.card-wrapper {
    /* margin:0 auto;
    width: 500px; */
    /* top: 50%;
    left: 50%;
    font-weight: bold; */
    /* transform: translate(-50%, -50%);
    z-index: 2; */
    /* text-align: center;
    position: absolute; */
}

.mat-card {
    width: 300px;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    border: rgba(140, 140, 140, 0.314) 2.5px solid;
    border-radius: 6px;
}

.close-button {
    width: 30px;
    margin-top: 2px;
    display: flex;
    float: right;
}

.example-list {
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.example-list>li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
}

.example-list>li:last-child {
    border-bottom: none;
}


/* .mat-card {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: rgba(140, 140, 140, 0.314) 2.5px solid;
    border-radius: 6px;
} */

.card-wrapper {
    margin: 0 auto;
    width: 500px;
    padding-top: 2rem;
    top: 4rem;
    left: 50%;
    font-weight: bold;
    text-align: center;
    /* border: 3px solid #f1f1f1; */
    /* position: absolute; */
    /* top: 40%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* z-index: 2; */
    /* padding: 20px; */
}

.mat-card-header {
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
}

.mat-card-subtitle {
    color: rgb(0, 0, 0);
    text-align: center;
}

.body {
    /* margin: 1200px; */
}

.options-bar{

    width: 1000px;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    border: rgba(0, 0, 0, 0.314) 2.5px solid;
    border-radius: 40px;
    
}