<div class="map-container">
    <svg x="20" y="20" width="800" height="800" style="border:1px solid black; background-color:rgb(206, 204, 204)">
    <g *ngFor="let desk of desks">
        <rect [attr.x]="desk.LocationCol" [attr.y]="desk.LocationRow" [class.booked]="desk.booking" width="50" height="30" (click)="selectToBook(desk.id, 'desk')"></rect>
    </g>
    <g>
      <line x1="200" y1="0" x2="200" y2="200" style="stroke:rgb(0, 0, 0);stroke-width:4"></line>
      <line x1="200" y1="700" x2="200" y2="800" style="stroke:rgb(0, 0, 0);stroke-width:4"></line>
      <line x1="300" y1="700" x2="300" y2="800" style="stroke:rgb(0, 0, 0);stroke-width:4"></line>

      <line x1="600" y1="500" x2="800" y2="500" style="stroke:rgb(0, 0, 0);stroke-width:4"></line>
    </g>
  </svg>
</div>

<div class="side-container">
    <div class="office-floor-container">

    </div>
    <div class="card-wrapper date-time-container">
        <mat-card class="example-card">
            <mat-card-content>
                <form>
                    <p>Start Date: </p>
                    <input type="datetime-local" [(ngModel)]="grabbedStartDate" name="grabbedStartDate">
                    <p>End Date: </p>
                    <input type="datetime-local" [(ngModel)]="grabbedEndDate" name="grabbedEndDate">
                    <br>
                    <br>
                    <br>
                    <mat-card-actions>
                        <button (click)="filterBookings()" mat-raised-button color="primary">Filter Bookings</button>
                    </mat-card-actions>
                </form>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="card-wrapper booking-item-info-container">
        <mat-card class="info-to-display-container" *ngIf="selected">
            <mat-card-content>
                <p>Item Name: {{this.selectedItemName | titlecase}}</p>
                <p>Item Facilities: </p>
                <mat-card-actions>
                    <button (click)="bookItem(selectedItemId, selectedItemType)" mat-raised-button color="primary">Book {{selectedItemType | titlecase}} {{selectedItemId}}</button>
                </mat-card-actions>
                <hr>
                <div class="scrollable-section">
                    <mat-card class="booking-container" *ngFor="let booking of selectedItemBookings">
                        <mat-card-content>
                            <div>Date: {{booking.startsAt | date: 'd MMMM': 'UTC'+2}} </div>
                            <div>Time: {{booking.startsAt | date: 'HH:mm': 'UTC'+2}} - {{booking.endsAt | date: 'HH:mm': 'UTC'+2}} </div>
                            <mat-card-actions>
                                <button (click)="deleteBooking(booking.id, selectedItemType)" mat-raised-button color="warn" *ngIf="currentUser.id === booking.employeeId">Cancel Booking</button>
                            </mat-card-actions>
                        </mat-card-content>
                    </mat-card>

                </div>
                <br>
            </mat-card-content>
        </mat-card>
    </div>
</div>