.map-container {
    width: 800px;
    height: auto;
    margin: 2rem;
    float:left;
}

.side-container {
    width: 50rem;
    height: auto;
    float: right;
    margin-top: 5rem;
    margin-right:5rem;
    display: inline-block;
    justify-content: center;
}

.office-floor-container {

}

.date-time-container {
    margin:1rem;
    border-top: black 2px solid;
    border-bottom:black 2px solid;
    border-radius: 25px;
    padding-top:2rem;
    padding-bottom:2rem;
    padding-left:20rem;
    padding-right:20rem;
}

.info-to-display-container {
    margin:1rem;
    border-top: black 2px solid;
    border-bottom:black 2px solid;
    border-radius: 25px;
    padding-top:2rem;
    padding-bottom:2rem;
    padding-left:20rem;
    padding-right:20rem;
    width: 10rem;
}

.booking-item-info-container {
   
}

.exists {
    background-color: #dd8d8d;
    border-radius: 15%;
}

.notexists {
    background-color: #4e85a1;
    border-radius: 15%;
}

.booked {
    fill: #dd8d8d;
    background-color: rgb(189, 189, 189);
    border-radius: 15%;
}