.map-container {
    width: 800px;
    height: auto;
    margin: 0px;
}

.side-container {
    width: 50rem;
    height: auto;
    float: right;
    margin-top: 5rem;
    margin-right:5rem;
}

mat-grid-tile {
    border: 1px dotted rgba(109, 109, 109, 0.233);
}

.exists {
    background-color: #dd8d8d;
    border-radius: 15%;
}

.notexists {
    background-color: #4e85a1;
    border-radius: 15%;
}

.booked {
    fill: red;
    background-color: rgb(189, 189, 189);
    border-radius: 15%;
}